.max-window {
    height:100%;
    width:100%;
}

.container-fluid {
    padding-left: 0px;
}

.page-header {
    text-align: right;
}

.jumbotron-text {
     font-weight: 700;
}

.jumbotron {
    position: relative;
    z-index: 1;
    outline-width: thin; 
    outline-style: solid; 
    outline-color: #eeeeee; 
    text-align: center;
    height:100%;
    width:100%;
}

.nav-btn {
    margin: 0px 10px 0px 0px;
}

.jumbotron .bg {
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/hospital.jpg) center center;
    opacity: .20;    
}

.navbar .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-right {
    padding-right: 15px;
}

.form-group {
    margin-top: 15px;
}

.date-status {
    text-align: right;
}

.content-panel {
    background-color: Cornsilk;
    width: 90% ;
    height: 100px;
    float: left;
}

.appointments-panel {
    margin-bottom: 100px;
}

.summary-panel {
    display: none;
    margin-bottom: 100px;
}

.message {
    font-size: 14px;
}

.doctor-field {
    display: none;
}

.patient-field {
    display: none;
}

.mandatory-message {
    padding-top: 10px;
}

.modal-body {
    max-width: 1000px;
}