.left-panel {
    background-color: GhostWhite;
    width: 10%;
    height: 100px;
    float: left;
    font-weight: bold;
}
.right-panel {
    background-color: Cornsilk;
    width: 90% ;
    height: 100px;
    float: left;
}

.error-message {
    color: red;
    font-weight: bold;
    
}
