.container-fluid {
    padding-left: 0px;
}

.jumbotron {
    position: relative;
    z-index: 1;
}

.refresh-button {
    float: right;
}

.jumbotron .bg {
  position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/hospital.jpg) center center;
    opacity: .35;
    width: 100%;
    height: 100%;
}

.navbar .container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-right {
    padding-right: 15px;
}

.form-group {
    margin-top: 15px;
}

.content-panel {
    background-color: Cornsilk;
    width: 90% ;
    height: 100px;
    float: left;
}

.appointments-panel {
    margin-bottom: 100px;
}

.summary-panel {
    display: none;
    margin-bottom: 100px;
}

.message {
    font-size: 14px;
}

.doctor-field {
    display: none;
}

.patient-field {
    display: none;
}

.mandatory-message {
    padding-top: 10px;
}